<h2>Students Login</h2>
<form method="POST" action="/students/login">
<label for="email">Email: </label>
<input type="email" name="student[email]">

<label for="password">Password: </label>
<input type="password" name="student[password]">

<input type="submit" value="Submit">

</form>