<h2>Teachers Login</h2>
<form method="POST" action="/teachers/login">
<label for="email">Email: </label>
<input type="email" name="teacher[email]">

<label for="password">Password: </label>
<input type="password" name="teacher[password]">

<input type="submit" value="Submit">

</form>