<h1>Appointments</h1>
<form method="POST" action="/appointments">
<div>
<h2>Days of the Week</h2>
<input type="checkbox" name="monday">
<label for="monday">Monday</label><br>

<input type="checkbox" name="tuesday">
<label for="tuesday">Tuesday</label><br>

<input type="checkbox" name="wednesday">
<label for="wednesday">Wednesday</label><br>

<input type="checkbox" name="thursday">
<label for="thursday">Thursday</label><br>

<input type="checkbox" name="friday">
<label for="friday">Friday</label><br>
</div>
<br>
<div>
<h2>Times Available</h2>
<input type="checkbox" name="morning1">
<label for="morning1">9:00am-9:50am</label><br>

<input type="checkbox" name="morning2">
<label for="morning2">10:00am-10:50am</label><br>

<input type="checkbox" name="morning3">
<label for="morning3">11:00am-11:50am</label><br>

<input type="checkbox" name="afternoon1">
<label for="afternoon1">12:00pm-12:50pm</label><br>

<input type="checkbox" name="afternoon2">
<label for="afternoon2">1:00pm-1:50pm</label><br>

<input type="checkbox" name="afternoon3">
<label for="afternoon3">2:00pm-2:50pm</label><br>

<input type="checkbox" name="afternoon4">
<label for="afternoon4">3:00pm-3:50pm</label><br>

<input type="checkbox" name="afternoon5">
<label for="afternoon5">4:00pm-4:50pm</label><br>

<input type="checkbox" name="afternoon6">
<label for="afternoon6">5:00pm-5:50pm</label><br>
</div>

<div>
<label for="appointment-type"><h2>Choose Appointment Type</h2></label>
<select>
    <option value="">--Please choose an option--</option>
    <option value="drum">Drum Lesson</option>
    <option value="guitar">Guitar Lesson</option>
    <option value="piano">Piano Lesson</option>
</select><br><br>
</div>

<div>
<h2><label for="week_number">Week Number</label></h2>
<input type="integer" name="week_number">
</div>
<br>
<input type="submit" value="Submit">
</form>
    
    